:root {
    --background: #ffffff;
    --background_alt: #ececec;
    --text_color: #000000;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background);
    margin: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: var(--background_alt);
    color: var(--text_color);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav {
    background-color: var(--background_alt);
    padding: 5px;
}

.nav .logo {
    image-rendering: pixelated;
    height: 30px;
}

h1 {
    text-align: center;
}

p {
    font-size: 18px;
    margin-bottom: 10px;
}

span {
    font-weight: bold;
}

footer {
    background-color: var(--background_alt);
    color: var(--text_color);
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer .hyper_link {
    color: var(--text_color);
    text-decoration: none;
}